.Loader {
  display: flex;
  justify-content: center;
  border-radius: 10px;
  position: relative;
  top: 100px;
}



.Loader>div {
    border: 7px solid #f3f3f3; /* Light grey */
    border-top: 7px solid black;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.Display-none {
  display:none;
}

@-webkit-keyframes loaderbars {
  0% { -webkit-margin-left: 0%; }
  100% { -webkit-margin-left: 90%; }
}

@keyframes loaderbars {
  0% { margin-left: 0%; }
  100% { margin-left: 90%; }
}
