
/* #newsid-bg01 {
  width: 100%;
  display: flex;
  justify-content: center;
} */

#newsid-content01{
  display: flex;
  justify-content: space-between;
}

.News-id-story {
  width: 650px;
  display: block;
  flex-flow: column;
  align-items: center;
  overflow:hidden;
}

.Title-picture-newsid{
  width: 100%;
  height: auto;
  min-height: 1px;
  margin-bottom: 20px;
}

.YT-container-newsid {
  width: 100%;
  position: relative;
  padding-bottom: 55.3%;
  float: left;
  height: 0;
}
.YT-newsid {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
}

.Story-text-container {
  display: flex;
  flex-flow: column;
  font-size: 1.1em;
  font-family: sans-serif;
}

.Quote-container {
  display: flex;
  background-color: #2c2d31;
  color: #ba8e66;
  margin-top: 20px;
  margin-bottom:20px;
  padding: 10px;
  border-radius: 10px;
}
.Quote-icon-newsid {
  margin-right: 5px;
}
.Story-text-container>h3 {
  margin-bottom: 10px;
  text-decoration: underline;
}

#newsid-recent-matches-container {
  margin-top: 80px;
  margin-left: 15px;
  width: 330px;
  flex-shrink: 0;
}

#newsid-recent-matches-container> .Recent-matches-inner-container {
  min-height: 200px;
}


@media(max-width: 1140px) {
  /* #newsid-recent-matches-container {
    margin-right: 12px;
  } */
}

@media(max-width: 900px) {


  #newsid-recent-matches-container {
    width: 290px;
  }
}

@media(max-width: 850px) {
  #newsid-content01{
    flex-flow: column wrap;
    align-items: center;
  }

  #newsid-recent-matches-container {
    width: 380px;
    margin-top: 55px;
    margin-left: 0;
  }

  .News-id-story {
    padding-bottom: 30px;
    border-bottom: 1px solid white;

  }
}

@media (max-width: 670px) {
  .News-id-story {
    width: 100%;
  }

}

@media (max-width: 400px) {
  #newsid-content01 h1 {
    line-height: 1.2em;
  }

  #newsid-content01 div {
    line-height: 1.2em;
  }

  #newsid-recent-matches-container {
    width: 98%;
  }
}
