#newsid-content01{
  display: flex;
  justify-content: space-between;
}

.News-id-story {
  width: 650px;
  display: block;
  flex-flow: column;
  align-items: center;
  overflow:hidden;
}

.Title-picture-newsid{
  width: 100%;
  height: auto;
  min-height: 1px;
  margin-bottom: 20px;
}

.News-id-video {
  width: 90%;
  height: 480px;
}

.Story-text-container {
  display: flex;
  flex-flow: column;
  font-size: 1.1em;
}
.Story-text-container>h3 {
  margin-bottom: 10px;
  text-decoration: underline;
}

#newsid-recent-matches-container {
  margin-top: 80px;
  width: 30%;
}
