#page-teamId-allbg {
  background-image: url(/bg_standard.jpg);
  width: 100%;
  display: flex;
  flex-flow: column;
  align-items: center;
  min-height: 400px;
  padding-bottom: 60px;
}

.page-teamId-content01 {
  display: flex;
  justify-content: space-between;
  width: 1100px;
}


#error-page-teamId {
  margin-top: 100px;
}

.Content-left-container {
  width: 600px;
}

.Team-container-teamId-page{
  display: flex;
  background-color: #1d1e21;
  width: 600px;
  height: 300px;
  justify-content: space-between;
  align-items: center;
}

.Teamlogo-teamId-page{
  margin-left: 20px;
  height: 200px;
  width: 200px;
}

.Team-right-container-teamId-page{
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  width: 150px;
  height: 80%;
  padding: 0px 20px;
  border-left: 2px solid gray;
}

.Team-right-container-teamId-page>p {
    margin:0px;
    font-size: 1.5em;
}

.Team-right-container-teamId-page span {
  color: #ca7;
  font-size: 0.65em;
}

.Team-players-box-header {
  margin: 0px;
  margin-bottom: 10px;
  margin-top: 50px;
}

.Team-with-players-box {
  background-color: #1d1e21;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}



.Player-info-container,.Hero-container-teamid {
  width: 100%;
  border-color: gray;
  border-right: 0px solid gray;
  display: flex;
  justify-content: space-between;
  min-height: 55px;
}
.Player-name, .Player-country {
  margin: 5px 10px;
  width: 37%;
}

.Player-mmr {
  width: 20%;
    margin: 5px 10px;
}

.Hero-name, .Hero-games-played-teamid {
  margin: 5px 10px;
  width: 34%;
}

.Hero-wins-teamid {
  margin: 5px 10px;
  width: 20%;
}

.Hero-name>div {
  display: flex;
  align-items: center;
}

.Player-info-container.Uneven-row,.Hero-container-teamid.Uneven-row {
  background-color: black;
}
.Player-info-label.TeamId-page, .Hero-info-label-teamid{
  color: #ca7;
  font-size: 0.85em;
  display: block;
  margin-bottom: 3px;
}

.Country-label.TeamId-page {
  display: block;
  margin-bottom: 3px;
}

.Player-country.TeamId-page {
  display: block;
  height: 38px;
  align-items: center;
  font-size: 0.95em;
}
.Player-flag.TeamId-page {
  width: auto;
  height: 14px;
}


.Hero-picture-teamid {
  height: 20px;
  width: auto;
  margin-right: 5px;
}



.Content-right-container {
  width: 300px;
}

.Latest-matches-box-header {
  margin-top: 150px;
}

.TeamId-result {
  width: 15%;
  margin-left: 10px;
}

.TeamId-result.Win {
  color: green;
}

.TeamId-result.Loss {
  color: red;
}

.Opposing-team-teamId {
  min-width: 50%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 10px;
}

.Opposing-team-logo-teamId {
  height: 25px;
  width: auto;
  margin-left: 4px;
}

.Latest-match-container {
  width: 100%;
  border-color: gray;
  border-right: 0px solid gray;
  display: flex;
  align-items: center;
  height: 55px;
  justify-content: space-between;
}
.Latest-match-container>div {

}

.Latest-match-container.Uneven-row {
  background-color: black;
}
