#international-teams-bg01{
  background-image: url(http://cdn.dota2.com/apps/dota2/images/international2017/overview/bg_titlebar.jpg);
  background-position: center;
  background-repeat: no-repeat;
  height: 166px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#international-teams-bg01>h2 {
  font-size: 2.1em;
  letter-spacing: 0.3em;
}

#international-teams-bg02 {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
  padding-top: 20px;
}
#international-teams-content02 {
  width: 1100px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.International-team-container {
  margin: 10px 23px;
  text-align: center;
}
.International-team-container>p {
  margin: 7px
}
.International-team-box {
  width: 200px;
  height: 110px;
  border: 2px solid #6c675f;
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto 75px;
  background-color: #171612;
  display: flex;
}

.International-team-box:hover {
  border-color: #B2A16E
}
.Names-box {
  width: 100%;
  height: 100%;
  opacity: 0;
  background-color: black;
  display: flex;
  flex-flow: column;
  justify-content: space-around;
}
.Names-box>p {
  margin: 0px;
  font-size: 0.8em;
  color: gray;
}
.Names-box>p>span {
  color: white;
  font-weight: bold;
}
.Names-box:hover {
  opacity: 1;
}

@media only screen and (max-width : 1020px) {
  .International-team-box {
    margin: 10px 7px;
  }
}
