#error-msg-playerid{
  margin-top: 150px;
  font-size: 1.3em;
}

#content-playerid{
  margin-bottom: 30px;

}

.Flag-playerid {
  height: 25px;
  width: auto;
  margin-left: 10px;
}
.Player-name-playerid {
  margin: 30px 0px 0px 2px;
  display: flex;
  align-items: center;
  height: 38px;
  font-size: 2em;
}

#playerid-content01 {
  display: flex;
  justify-content: space-between;
}

.Player-info-container-playerid {
  background-color: #1d1e21;
  width: 640px;
  height: 250px;
  font-size: 1.4em;
  display: flex;
  margin-bottom: 30px;
  align-items: center;
  justify-content: space-between;
}

.Player-picture-playerid {
  margin-left: 20px;

  height: 170px;
  width: auto;
  border-radius: 50%;
}


.Player-info-right-container-playerid {
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  height: 85%;
  margin-right: 30px;
  border-left: 2px solid gray;
  padding-left: 20px;
}

.Player-info-labels-playerid {
  color: #ca7;
  font-size: 0.7em;
  display: block;
}
.Team-logo-link-playerid {
  height: 100%;
}

.Team-logo-playerid {
  margin-left: 10px;
  height: 100%;
  width: auto;
}

#player-stats {
  width: 200px;
  display: flex;
  flex-flow: column;
  background-color: #1d1e21;
  height: 250px;
  justify-content: space-around;
  align-items: center;
  margin-left: 15px;

}

#player-stats>div {

  width: 90%;
  display: flex;
  justify-content: space-between;
}

#player-stats>div:first-child {
  margin-top:5px;
}

#player-stats>div:last-child {
  margin-bottom: 5px;
}

.Player-stats-label {
  color: #ca7;
}



#playerid-content02 {
  display: flex;
  justify-content: space-between;
}

.Container-label-playerid {
  margin-bottom: 5px;
  margin-left: 5px;
}

#most-played-heroes-playerid {
  width: 500px;
}


#teammates-playerid {
  margin-left: 15px;
  width: 500px;
}

#teammates-container {
  display: flex;
  flex-flow: column;

  background: #1d1e21;
}


.Teammates-container-playerid {
  width: 100%;
  border-color: gray;
  border-right: 0px solid gray;
  display: flex;
  justify-content: space-between;
  min-height: 55px;
}

.Teammate-name-playerid {
  margin: 5px 10px;
  width: 40%;
}
.Teammate-games-played {
  margin: 5px 10px;
  width: 22%;
}

.Teammate-wins {
  margin: 5px 5px 5px 25px;
  width: 22%;
}

.Teammate-name-playerid>div {
  display: flex;
  align-items: center;
}

.Teammate-info-label{
  color: #ca7;
  font-size: 0.85em;
  display: block;
  margin-bottom: 3px;
}

.Teammates-container-playerid.Uneven-row {
  background-color: black;
}

@media(max-width: 800px) {
  #playerid-content02 {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  #content-playerid {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #playerid-content01 {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .Player-name-playerid {
    width: 80%;
    margin-bottom: 5px;
  }
  .Player-info-container-playerid {
    width: 80%;
  }
  #player-stats {
    width: 80%;
    flex-flow: row wrap;
    height: 150px;
    margin-left: 0px;
  }
  #player-stats>div {
    width: auto;
    margin-right: 15px;
    margin-left: 15px;
    justify-content: flex-start;
  }
  #teammates-playerid {
    margin-left: 0px;
    width: 80%;
  }
  #most-played-heroes-playerid {
    width: 80%;
  }
}


@media(max-width: 540px) {
  .Player-name-playerid {
    width: 93%;
  }
  .Player-info-container-playerid {
    width: 93%;
  }
  #player-stats {
    width: 93%;
  }
  #most-played-heroes-playerid {
    width: 100%;
  }
  #teammates-playerid {
    width: 100%;
  }
  .Player-info-right-container-playerid {
    margin-right: 10px;
    padding-left: 15px;
  }
}

@media(max-width: 480px) {
  .Player-picture-playerid {
    height: 130px;
    width: auto;
  }
}

@media(max-width: 430px) {
  .Player-picture-playerid {
    margin-left: 5px;

  }
}

@media(max-width: 400px) {
  #player-stats {
    flex-flow: column;
    width: 80%;
    justify-content: space-around;
  }
  #player-stats>div{
    width: 90%;
    justify-content: space-between;
  }
}

@media (max-width: 380px) {
  #content-playerid {
    line-height: 1.2em;
  }
  #player-stats {
    width: 90%;
  }
}
