
#international-header-bg {
  width: 100%;
  height: 300px;
  background-image: url(http://cdn.dota2.com/apps/dota2/images/international2018/overview/bg_overview_header.jpg?v=4758185);
  background-repeat: no-repeat;
  background-position: top center;
  margin-right: auto;
  margin-left: auto;
  position: relative;
}

#international-header-logo {
  background-image: url(http://cdn.dota2.com/apps/dota2/images/international2018/overview/ti_logo.png);
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
}

#international-navibar-bg {
  background-image: url(http://cdn.dota2.com/apps/dota2/images/international2018/overview/bg_overview_navbar.jpg);
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#international-allpages-bg {
  padding-bottom: 0px;
  font-family: TIWatchingCustomFont;
}


@media(max-width: 490px) {
  #international-navibar-content>.Menu-bar {
    width: 98%;
    justify-content: space-around;
  }
  .Menu-link.Page-international {
    padding: 5px 10px;
  }
}

@media (max-width: 420px) {
  .Menu-link.Page-international {
    font-size: 1.1em;
    padding: 5px 8px;
    margin-left: 4px;
    margin-right: 4px;
    line-height: 1.2em;

  }
  .Menu-link.Page-international:first-child {
    margin-left: 0;
  }
  .Menu-link.Page-international:last-child {
    margin-right: 0;
  }
  .Menu-link.Page-international::after {
    width: 100%;
    left: 0;
  }
}

@media (min-width: 1600px) {
  #international-header-bg {
    background-size: cover;
  }
}
