.Result-container {
  min-height: 35px;
  height: auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}


.Result-container.Even-row {
  background-color: #2c2d31
}

.Result-container.Uneven-row {
  background-color: #0a1914
}

.Result-dire-team {
  justify-content: flex-end;
}

.Result-container>div {
  height: 100%;
  width: 42%;
  display: flex;
  align-items: center;
}
#Error-recent-matches {
  border: 1px solid lightgray;
  padding: 5px;
}



.Result-container span {
  margin-left: 5px;
  margin-right: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
}
.Result-dire-team> span {
  text-align: right;
  word-break: break-word;
}
.Result-radiant-team>span {
  word-break: break-word;
}

.Result-teamlogo {
  max-height: 30px;
  height: auto;
  min-height: 22px;
  width: 30px;
}
