#hero-page-content01 {
  display: flex;
  width: 1100px;
  flex-flow: column;
  align-items: center;
  margin-top: 20px;
  margin-bottom:20px;
}

#hero-info-container {
  margin-top: 10px;
  height: 100px;
  width: 80%;
  background: #1d1e21;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  border: 1px solid white;
}

#hero-name-container-heropage {
  letter-spacing: 0.5em;
  font-size: 1.4em;
}

#hero-role-container {
  margin-top: 15px;

}
#hero-role-container>span {
  color:  darkgray;
  font-weight: 100;
}

#all-hero-groups-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-top: 40px;
}



.Hero-group-container {
  width: 330px;
  display: flex;
  flex-flow: column;
  flex-wrap: wrap;
  align-items: center;
  background: #1d1e21;
  border: 1px solid white;
}

.Hero-group-header.Strength {
  background-image: url(http://cdn.dota2.com/apps/dota2/images/heropedia/overviewicon_str.png)
}
.Hero-group-header.Agility {
  background-image: url(http://cdn.dota2.com/apps/dota2/images/heropedia/overviewicon_agi.png)
}
.Hero-group-header.Intelligence {
  background-image: url(http://cdn.dota2.com/apps/dota2/images/heropedia/overviewicon_int.png)
}
.Hero-group-header {
  background-repeat: no-repeat;
  height: 30px;
  align-items: center;
  display: flex;
  padding-left: 45px;
  margin-bottom: 30px;
  margin-top: 10px;

}

.All-hero-pictures-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.Hero-picture-container-heropage {
  position: relative;
  margin: 0px 4px 0px 3px;
}

.Hero-detail-container {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  background-color: black;
  border: 1px solid gray;
  z-index: 5;
  display: none;
}

.Hero-big-picture-heropage {
  display: none;
  position: absolute;
  z-index: 10;
  top: -50%;
  left: -50%;
  width: 122px;
  height: 68px;
  border: 2px solid white;
}

.Hero-big-picture-heropage.Block {
  display: block;
}

#error-message-heroes {
  margin-top: 80px;
}
