

#hero-page-content01 {
  display: flex;
  flex-flow: column;
  align-items: center;
  margin-top: 20px;
  margin-bottom:20px;
}
#hero-info-wrapper {
  min-height: 100px;
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.Hero-info-container {
  height: 100px;
  width: 650px;
  background: #1d1e21;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  border: 1px solid white;
}
.Position-fixed {
  position: fixed;
  top: 0;
  z-index: 11;
  width: 90%;
  left: 50%;                      /*had to do this*/
  transform: translateX(-50%);    /*beacause of IE*/
}
.Positio-relative {
  position: relative;
}

#hero-name-container-heropage {
  letter-spacing: 0.5em;
  font-size: 1.4em;
}

#hero-role-container {
  margin-top: 15px;

}
#hero-role-container>span {
  color:  darkgray;
  font-weight: 100;
}

#all-hero-groups-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-top: 40px;
}



.Hero-group-container {
  width: 330px;
  display: flex;
  flex-flow: column;
  flex-wrap: wrap;
  align-items: center;
  background: #1d1e21;
  border: 1px solid white;
  margin-right: 10px;
}
.Hero-group-container:last-child {
  margin-right: 0;
}

.Hero-group-header.Strength {
  background-image: url(http://cdn.dota2.com/apps/dota2/images/heropedia/overviewicon_str.png)
}
.Hero-group-header.Agility {
  background-image: url(http://cdn.dota2.com/apps/dota2/images/heropedia/overviewicon_agi.png)
}
.Hero-group-header.Intelligence {
  background-image: url(http://cdn.dota2.com/apps/dota2/images/heropedia/overviewicon_int.png)
}
.Hero-group-header {
  background-repeat: no-repeat;
  height: 30px;
  align-items: center;
  display: flex;
  padding-left: 45px;
  margin-bottom: 30px;
  margin-top: 10px;

}

.All-hero-pictures-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;

}

.Hero-picture-container-heropage {
  position: relative;
  margin: 0px 4px 0px 3px;
}

.Hero-detail-container {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  background-color: black;
  border: 1px solid gray;
  z-index: 5;
  display: none;
}

.Hero-big-picture-heropage {
  display: none;
  position: absolute;
  z-index: 10;
  top: -50%;
  left: -50%;
  width: 122px;
  height: 68px;
  border: 2px solid white;
}

.Hero-big-picture-heropage.Block {
  display: block;
}

#error-message-heroes {
  margin-top: 80px;
}

@media(max-width: 1050px) {
  .All-hero-pictures-container {
    justify-content: space-around;
  }
  #hero-page-content01 {
    width: 98%;
  }
}

@media(max-width: 850px) {
  .Hero-info-container {
    width: 650px;
  }

  #all-hero-groups-container {
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 0px;
  }
  .Hero-group-container {
    margin: 20px 0 0 10px;
  }
  .Hero-group-container:first-child {
    margin-left: 0px;
  }
  .Hero-group-container:last-child {
    margin-left: 0px;
    width: 85%;
  }
  .Hero-group-header {
    margin-top: 5px;
    margin-bottom: 10px;
  }
}
@media (max-width: 710px) {
  .Hero-info-container {
    width: 95%;
  }
  .Hero-group-container {
    width: 48%;
  }
}
@media(max-width: 580px) {
  .Hero-info-container {
    padding-left: 5px;
    padding-right: 5px;
  }
  .Hero-group-container {
    width: 95%;
    margin-left: 0;
  }
  .Hero-group-container:last-child {
    width: 95%;
  }
}
@media (max-width: 430px) {
  #hero-name-container-heropage {
    line-height: 1.2em;
    letter-spacing: 0.2em;
  }
  #hero-role-container {
    margin-top: 10px;
  }
  #hero-role-container * {
    line-height: 1.2em;
  }
}

@media(max-width: 390px) {
  .Hero-picture-container-heropage {
    margin-top: 2px;
    margin-left: 2px;
  }
}
