#international-media-bg01 {
  margin-bottom: 40px;
  width: 100%;
  display: flex;
  justify-content: center;
}
#international-media-content01{
  width: 1100px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

#instagram-feed-container{
  margin-left: 8px;
  width: 480px;
}
.Instagram-feed {
  width: 100%;
  border: none;
  overflow:hidden;
  height:1566px;
}

#twitter-feed {
  overflow:hidden;
  width: 449px;
}

.YT-container-ti-media {
  margin-top: 30px;
}

.YT-ti-media {
  width: 1000px;
  height: 561px;
}


@media (max-width: 1100px) {
  .YT-container-ti-media {
    position: relative;
    width: 95%;
    padding-bottom: 52.54%;
    float: left;
    height: 0;
  }

  .YT-ti-media {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
  }
}

@media (max-width: 960px) {
  #international-media-content01{
    width: 99%;
    align-items: center;
    flex-direction: column;
  }
  #twitter-feed {
    overflow:hidden;
    width: 600px;
    background: none;
  }
    #instagram-feed-container {
      width: 600px;
      margin-left: 0;
    }
}

@media (max-width: 650px) {
  #twitter-feed {
    width: 92%;
  }
  #instagram-feed-container {
    width: 92%;
  }
  .Instagram-feed {
    width: 100%;
  }
}

@media(max-width: 430px) {
  #international-media-content01 {
    align-items: flex-start;
  }
}
