.Team-container-teams-page {
  width: 250px;
  height: 200px;
  margin: 15px 4px;
  border: 1px solid white;
  border-radius: 10px;
  display: flex;
  flex-flow: column;
  background-color: #191b1e;
  box-shadow: 3px 3px white;

  -webkit-transition: transform 1s; /* Safari */
    transition: transform 1s;
}


.Team-container-teams-page:hover {
  transform: scale(1.08,1.08);
  cursor: pointer;
}


.Team-top-container-teams-page {
  height: 50%;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
}

.Team-top-container-teams-page> p, .Team-bottom-container-teams-page>p {
  width: 140px;
  padding: 5px 0px 5px 0px;
  margin: 0px;
}

.Team-name-block-teams-page {
  display: inline-block;
}

.Teamlogo-teams-page {
  height: 90px;
  width: 100px;

}

.Team-textlabels-teams-page {
  font-size: 0.8em;
}

.Team-bottom-container-teams-page {
  height: 50%;
  display: flex;
  justify-content: center;
  flex-flow: column wrap;
  margin-left: 5px;

}

.Rank-container-teams-page {
  height: 70px;
  font-size: 0.9em;
  display: flex;
  flex-flow: column wrap;
  width: 100px;
}

.Rank-number-teams-page {
 font-size: 3em;
}

.Rank-symbol-teams-page {
  height: 33px;
  width:33px;
}
