@font-face {
    font-family: 'CustomFont'; /*a name to be used later*/
    src: url('/SWANSE__.TTF'); /*URL to font*/
}
@font-face {
    font-family: 'LogoFont1'; /*a name to be used later*/
    src: url('/Rockout.otf'); /*URL to font*/
}
@font-face {
    font-family: 'CustomFont2'; /*a name to be used later*/
    src: url('/DUBIEL.TTF'); /*URL to font*/
}

/* #e01134 is red */
 /* #191b1e is black */

html { font-size: 1em; }
body {
}
.App {
  font-family: CustomFont;
  color: white;
  min-height: 900px;
  width: 100%;
  background-color: black;

}

#navi-bar-bg {
  width: 100%;
  display: flex;
  justify-content: center;
  height: 56px;
  background-image: url(http://cdn.dota2.com/apps/dota2/images/header/header_bg.png);
  border-bottom: 1px solid white;

}

#navi-bar-container {
  width: 1100px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.Menu-bar {
  display: flex;
  align-items: center;
}

.Menu-link {
  padding: 5px 20px;
  color: #cecece;
  font-size: 1.2em;
  text-decoration: none;
  margin-right: 1px;
  position: relative;
}

.Menu-link:hover {
  color: white;
}

.Active-menulink {
  color: white;
}

.Active-menulink:after {
  content:"";
  position: absolute;
  bottom: 0px;
  left: 10%;
  height: 2px;
  background-color: white;
  width: 80%;

}

#search-container {
  width: 200px;
  height: 40px;
  text-align: left;
  display: flex;
  align-items: center;
}

#search-container> input {

  border:none;
  height: 100%;
  width: 82%;
  padding: 0px;
  font-size: 1em;
  padding-left: 10px;
  outline: none;
  border-top-left-radius: 4px;
  border-bottom-left-radius:4px;
}



#search-container> button {
  height: 100%;
  width: 18%;
  background-color: white;
  border: none;
  padding:0px;
  border-top-right-radius: 4px;
  border-bottom-right-radius:4px;

}

#search-container>button:hover {
  color: #e01134;
}

.header-picture1 {
  width: 100%;
  height: 300px;
  background-image: url(http://cdn.dota2.com/apps/dota2/images/blogfiles/bg_five_heroes.jpg);
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: 0px 15px 50px black inset, 0px -5px 50px black inset;
}

#header-top-container {
  width: 1100px;
  height: 70%;
  display: flex;
  justify-content: space-between;
  align-items: center;

}


#header-bottom-container {
  width: 1100px;
  height: 30%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#home-container-bg01 {
  background-image: url(http://cdn.dota2.com/apps/dota2/images/blog/play/bg_04.jpg);

}
.Home-inner-bg {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}
#home-inner-bg01 {
  /* background: #ca9b314d; */


}


/* VAZNOOOO */
.Content-container {
  width: 1100px;
}
 /* VAZNOOOOOOOO */
iframe {
  border: 0px;
  margin: 0px;
}

#content-container-home01 {
  display: flex;
  justify-content: flex-end;
  align-items: center;

}

#content-home01, #content-home02, #content-home03 {
  width: 550px;
  font-family: 'Radiance';
  position: relative;
  bottom: 35px;
}
#content-home01 {

}
#content-home01>h1, #content-home02>h1, #content-home03>h1 {
  font-size: 2em;
  padding: 0 10px;
}
#content-home01>p, #content-home02>p, #content-home03>p {
  font-size: 1.4em;
  line-height: 1.5em;
  padding: 0 10px;
}

#home-container-bg02 {
  background-image: url(http://cdn.dota2.com/apps/dota2/images/blog/play/bg_05.jpg);
}
#content-container-home02 {
  display: flex;
  align-items: center;
}
#content-container-home03 {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

#home-container-bg03 {
  background-image: url(http://cdn.dota2.com/apps/dota2/images/blog/play/bg_06.jpg);
  box-shadow: -0px -25px 50px #191a1b inset,-0px 15px 50px black inset;
}
#home-container-bg04 {
  height: 720px;
  background-image: url(http://cdn.dota2.com/apps/dota2/images/blog/play/bg_02.jpg);
}


.Container-bg {

  background-repeat: no-repeat;
  margin-right: auto;
  margin-left: auto;
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 600px;
  background-position: center;
  box-shadow: -0px 15px 50px black inset;
  display: flex;
  justify-content: center;
  align-items: center;
}





@media (max-width: 1100px) {
  #header-top-container, #header-bottom-container {
    width: 100%;
  }
}

#content-bg {
  width: 100%;
  display: flex;
  min-height: 500px;
  justify-content: center;
  position: relative;
}

.All-content-container {
  display: flex;
  flex-flow: column;
  width: 100%;
  align-items: center;
}

/* .YT-home {
  width: 1100px;
  height: auto;
} */

#content-teams-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

#content-teams {
  margin-top: 10px;
  width: 1100px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  position: relative;

}

.Team-link {
  text-decoration: none;
  color: white;
}

.Team-container {
  width: 250px;
  height: 200px;
  margin: 15px 4px;
  border: 1px solid white;
  border-radius: 10px;
  display: flex;
  flex-flow: column;
  background-color: #191b1e;
  box-shadow: 3px 3px white;

  -webkit-transition: transform 1s; /* Safari */
    transition: transform 1s;
}


.Team-container:hover {
  transform: scale(1.08,1.08);
  cursor: pointer;
}


.Team-top-container {
  height: 50%;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
}

.Team-top-container> p, .Team-bottom-container>p {
  width: 140px;
  padding: 5px 0px 5px 0px;
  margin: 0px;
}

.Team-name-block {
  display: inline-block;
}

.Teamlogo {
  height: 90px;
  width: 100px;

}

.Team-textlabels {
  font-size: 0.8em;
}

.Team-bottom-container {
  height: 50%;
  display: flex;
  justify-content: center;
  flex-flow: column wrap;
  margin-left: 5px;

}

.Rank-container {
  height: 70px;
  font-size: 0.9em;
  display: flex;
  flex-flow: column wrap;
  width: 100px;
}

.Rank-number {
 font-size: 3em;
}

.Rank-symbol {
  height: 33px;
  width:33px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
