@font-face {
    font-family: 'CustomFont'; /*a name to be used later*/
    src: url('/SWANSE__.TTF'); /*URL to font*/
}
@font-face {
    font-family: 'LogoFont1'; /*a name to be used later*/
    src: url('/Rockout.otf'); /*URL to font*/
}
@font-face {
    font-family: 'CustomFont2'; /*a name to be used later*/
    src: url('/DUBIEL.TTF'); /*URL to font*/
}

/* #e01134 is red */
 /* #191b1e is black */

html { font-size: 1em; }
.App {
  font-family: CustomFont;
  color: white;
  background-color: #191b1e;
  min-height: 100vh;

}



#app-header {
  background-color: #191b1e;
  height: 120px;
  color: white;
  display: flex;
  flex-flow: column;
  align-items: center;
}

#header-top-container {
  width: 1150px;
  height: 70%;
  display: flex;
  justify-content: space-between;
  align-items: center;

}

#logo-container {
  width: 250px;
  justify-content: center;
  height: 100%;
  display: flex;
  align-items: center;
  color:white;
  font-size: 2.5em;
  font-family: LogoFont1
}

#login-container {
  text-align: left;
  height: 100%;
  position: relative;
  color: white;
}


#header-bottom-container {
  width: 1150px;
  height: 30%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#menu-bar {
  height: 100%;
  display: flex;
  align-items: center;
  border: 2px solid #e01134;
  border-bottom: none;
  padding: 1px;
  padding-bottom: 3px;
  border-radius: 5px;
}

.Menu-link {
  padding: 5px 20px;
  color: white;
  font-size: 1.3em;
  text-decoration: none;
  margin-right: 1px;
  position: relative;
}

.Menu-link:hover {
  color: gray;
}


.Active-menulink:after {
  content:"";
  position: absolute;
  bottom: 0px;
  left: 0px;
  height: 3px;
  background-color: white;
  width: 100%;
}

#search-container {
  width: 250px;
  height: 100%;
  text-align: left;
  display: flex;
  align-items: center;
}

#search-container> input {

  border:none;
  height: 100%;
  width: 82%;
  padding: 0px;
  font-size: 1em;
  padding-left: 10px;
  outline: none;
  border-top-left-radius: 4px;
  border-bottom-left-radius:4px;
}



#search-container> button {
  height: 100%;
  width: 18%;
  background-color: white;
  border: none;
  padding:0px;
  border-top-right-radius: 4px;
  border-bottom-right-radius:4px;

}

#search-container>button:hover {
  color: #e01134;
}


@media (max-width: 1150px) {
  #header-top-container, #header-bottom-container {
    width: 100%;
  }
}

#header-content-separator {
  width: 100%;
  height: 10px;
  background-color: #e01134;
}

#content-container {
  display:flex;
  min-height: 500px;
  justify-content: center;
  position: relative;
}

#content-teams {
  margin-top: 40px;
  width: 1150px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  position: relative;

}

.Team-link {
  text-decoration: none;
  color: white;
}

.Team-container {
  width: 250px;
  height: 200px;
  margin: 15px 0px;
  border: 1px solid white;
  border-radius: 10px;
  display: flex;
  flex-flow: column;
  background-color: #191b1e;
  box-shadow: 3px 3px white;

  -webkit-transition: transform 1s; /* Safari */
    transition: transform 1s;
}


.Team-container:hover {
  transform: scale(1.08,1.08);
  cursor: pointer;
}



.Loader {
  width: 100px;
  height: 20px;
  background-color: white;
  display: flex;
  align-items: flex-end;
  border-radius: 10px;
  position: absolute;
  left: 46%;
  top: 40%;
}



.Loader >div {
  height: 100%;
  background-color: black;
  width: 10%;
  animation: loaderbars 0.6s linear 0s infinite alternate;
}

.Display-none {
  display:none;
}

@-webkit-keyframes loaderbars {
  0% { -webkit-margin-left: 0%; }
  100% { -webkit-margin-left: 90%; }
}

@keyframes loaderbars {
  0% { margin-left: 0%; }
  100% { margin-left: 90%; }
}

.Team-top-container {
  height: 50%;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
}

.Team-top-container> p, .Team-bottom-container>p {
  width: 140px;
  padding: 5px 0px 5px 0px;
  margin: 0px;
}

.Team-name-block {
  display: inline-block;
}

.Teamlogo {
  height: 90px;
  width: 100px;

}

.Team-textlabels {
  font-size: 0.8em;
}

.Team-bottom-container {
  height: 50%;
  display: flex;
  justify-content: center;
  flex-flow: column wrap;
  margin-left: 5px;

}

.Rank-container {
  height: 70px;
  font-size: 0.9em;
  display: flex;
  flex-flow: column wrap;
  width: 100px;
}

.Rank-number {
 font-size: 3em;
}

.Rank-symbol {
  height: 33px;
  width:33px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
