#page-news-allbg {
  background-image: url(/bg_standard.jpg);
}
#news-container-bg01 {
  width: 100%;
  margin-top: 20px;
  height: 420px;
  display: flex;
  justify-content: center;
}
#content-news01 {
  height: 100%;
  width: 1100px;
  display: flex;
  margin: 0px;
  padding: 0px;
  /* overflow: hidden; */
  flex-flow: column;
  border: 1px solid white;
}
#news-container-bg02 {
  height: 1200px;
  width: 100%;
  display: flex;
  justify-content: center;
}
#content-news02 {
  height: 100%;
  width: 1100px;
  display: flex;
  justify-content: space-between;
}
#recent-stories-container {
  width: 67%;
  height: 100%;
}
#recent-matches-container {
  margin-top: 20px;
  width: 30%;
}
